.lessons{
display: flex;
gap: 30px;

}
.lll{
width: 250px;
height: auto;
background-color: #5c0975;
color: black;
}
.mmm{
flex: 1;
padding: 20px;
max-width: 800px;
margin-right: 60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lll ul{
list-style-type: none;
padding: 0;
}
.lll li{
margin-bottom: 10px;

}
.lll a{
color: white;
text-decoration: none;
display: block;
padding: 15px;
transition: 0.3s;
}
.lll a:hover{
transform: translateY(-2px);

}
    .back{
font-size: 24px;

    }
 .title{
  margin-bottom: 20px;
  font-size: 36px;
  color: #5c0975;
 }
 .word{
margin-bottom: 30px;
padding: 20px;
border-bottom: 1px solid #eee;

 }
.word h2{
  color: #280931;
margin-bottom: 15px;
padding: 0 0 20px;
}
.word p{
  font-size: 20px;
line-height: 1.6;
margin-bottom: 20px;
text-align: justify;

}
.word ul{
  padding: 0;
}
.word li{
  line-height: 1.6;
  font-size: 20px;
  margin: 10px;     
}
.alhl{
  margin: 0;
}
.edit{
  list-style-type: none;
}
span{
  color: red;
}
.table{
  border-collapse: collapse;
  text-align: center;
 
}
table,td{
   border: 1px solid #DCD1BC;
}
.one{
  background-color: #4A154B;
  color: white;
}
.two{
  background-color:#F8FAFC;
}
.three{
  background-color: #F8FAFC;
}
.four{
  background-color:#F8FAFC;
}
.five{
  background-color:#F8FAFC;
}
.six{
  background-color: #F8FAFC;
}
.twotd{
    background-color: #4A154B;
  color: white;
}
.threetd{
    background-color: #4A154B;
  color: white;
}
.fourtd{
    background-color: #4A154B;
  color: white;
}
.fivetd{
    background-color: #4A154B;
  color: white;
}
.sixtd{
   background-color: #4A154B;
  color: white;
}
