
body {
background-color: antiquewhite;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: darkgray;
}

header {
background-color: mediumturquoise;
color: black;
padding: 40px  20px;
text-align: center;

}
.tree_of_me{
display: flex;
            justify-content: center;
        flex-wrap: wrap;
            gap: 20px;
            padding: 20px;

}

.hero {
background-color: white;
text-align: center;
border-radius: 15px;
width: 300px;
box-shadow: 0 4px 8px  rgba(0, 0, 0, 1);
transition: 0.4s;
            border-bottom: 5px solid #ddd;
overflow: hidden;

}

 .hero:hover {
            transform: translateY(-10px);
            
        }

        .hero h2{
text-align: center;
color: black;

        }

        .hero p {
            text-align: center;
            padding: 0 20px 0;
            color: #666;
            line-height: 1.6;
            margin: 0;
        }

      
        .math { border-bottom-color: #5c0975; }
        .arabic { border-bottom-color: #27ae60; }
         .btn {
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px 20px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        
        }
 .hero img {
width: 100%;
height: 250PX;
object-fit: cover;
display: block;
object-fit: contain;
padding: 0 0 10PX;
 }