.two ul{
    list-style-type: none;
    font-size: 17px;
}
.three ul{
    list-style-type: none;
     font-size: 17px;
}
.four ul{
    list-style-type: none;
     font-size: 17px;
}
.word span{
    color: rgb(235, 13, 13);
}