.para{
width: 220px;
height: 120px;
background-color: black;
transform: skew(-20deg);
}
.triangle{
width: 0;
height: 0;

border-left: 80px solid transparent;
border-right: 80px solid transparent;
border-bottom: 140px solid black;
}
.rectangle{
width: 180px;
height: 120px;
background-color: black;
}
.diamond{
    width: 120px;
height: 120px;
background-color: black;
transform: rotate(-45deg);
}
.square{
width: 120px;
height: 120px;
background-color: black;
}
.trapezoid{
width: 160px;
height: 0;

border-bottom: 100px solid black;

border-left: 50px solid transparent;
border-right: 50px solid transparent;
}
.circle{
width: 120px;
height: 120px;
background-color: black;

border-radius: 50%;
}


@media (max-width: 768px) {

  .para{
    width: 140px;
    height: 80px;
  }

  .triangle{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid black;
  }

  .rectangle{
    width: 120px;
    height: 80px;
  }

  .diamond{
    width: 80px;
    height: 80px;
  }

  .square{
    width: 80px;
    height: 80px;
  }

  .trapezoid{
    width: 100px;

    border-bottom: 70px solid black;

    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  .circle{
    width: 80px;
    height: 80px;
  }

}